.landing {
  background-image: url("./assets/images/group.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
  max-width: 600px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.header-title {
  font-size: 1.5rem;
}
.header-donate button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 15px;
  background: var(--org);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.header-donate button:hover {
  background: transparent;
  color: whtie;
  border: 2px solid var(--org);
  font-size: 1rem;
}
.header-donate button img {
  width: 20px;
}
.landing-gallary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: -70px;
}
.gallary-img {
  border: 2px solid #6b7a8f;
  border-radius: 10px;
}
.gallary-img p {
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.gallary-img img {
  width: 100%;
  max-width: 325px;
  height: auto;
}
.img-phrase {
  background: white;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.causes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0px auto;
  max-width: 700px;
  font-size: 1rem;
  margin-bottom: 25px;
}
.causes-header h1 {
  margin-bottom: 15px;
}
.landing-causes {
  margin: 75px 100px;
  padding: 15px;
  /* border: 2px solid #f7c331; */
  border-radius: 10px;
  background: transparent; /* Initial background color */
}

/* .landing-causes:hover {
  background: rgb(247, 195, 49);
  color: white;
  background: radial-gradient(
    circle,
    rgba(247, 195, 49, 1) 58%,
    rgba(247, 136, 47, 1) 100%
  );
} */
.causes-stats {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding: 15px;
}
.stats-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
  /* background: gray; */
  gap: 25px;
  /* border: 1px solid black; */
  border: 1.2px solid var(--org);
  color: white;
  border-radius: 25px;
  transition: filter 0.3s ease; /* Smooth transition */
}
.stats-content:hover {
  filter: brightness(0.6); /* Darker effect on hover */
}
.stats-content button {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.stats-content button:hover {
  background: transparent;
  color: black;
}
.stats-content:nth-child(2) {
}
.stats-content:nth-child(1) {
  background-image: url("./assets/images/education.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.stats-content:nth-child(2) {
  background-image: url("./assets/images/counseling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.stats-content:nth-child(3) {
  background-image: url("./assets/images/personal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stats-content:nth-child(1) button {
  border: none;
  padding: 10px 15px;
  background-color: var(--org);
  color: white;
}
.stats-content:nth-child(2) button {
  border: none;
  padding: 10px 15px;
  background-color: #f7c331;
  color: white;
  cursor: pointer;
}
.stats-content:nth-child(3) button {
  border: none;
  padding: 10px 15px;
  background-color: #6b7a8f;
  color: white;
}

.stats-content img {
  width: 125px;
}
.mission-img img {
  width: 300px;
  border: 2px solid var(--org);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.landing-mission {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;

  border-radius: 25px;
  height: 100%;
  padding: 25px;
  margin: 0px auto;
}
.founder-mission {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.mission-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
  max-width: 900px;
}

.mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  background: white;
  border-radius: 10px;
}
.mission-content button {
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  border: none;
  background: #f7c331;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.mission-content button:hover {
  background: transparent;
  color: #f7c331;
  border: 2px solid #f7c331;
}
.mission-content p {
  line-height: 1.6;
}
.stats-para {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.founder-video video {
  max-width: 500px;
}
.founder-video {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
video {
  width: 100%;
  height: auto;
  display: block;
  min-width: 550px;
}
.landing-founder {
  color: #ffffff; /* White text */
  background-color: #6b7a8f; /* Light blue-gray background */
  border: 2px solid #000000; /* Black border */
  border-radius: 15px; /* Rounded corners */
  padding: 25px; /* Padding inside the box */
  margin: 100px 55px; /* Margin around the box */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Soft shadow */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column; /* Stack content vertically */
}
.founder-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.founder-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 50px;
}
.founder-background p {
  max-width: 650px;
  line-height: 1.6;
}
.join button {
  margin-top: 15px;
  padding: 15px 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background: var(--org);
}
.mission-img img {
  border-radius: 70%;
}
.mission-img {
}
.mission-img-1 {
}
hr {
  width: 200px;
  background-color: var(--org);
  height: 2px;
  border: none; /* Remove default border */
  margin: 20px auto; /* Center horizontally with some vertical margin */
}
